# Alpaca API credentials - get these from https://alpaca.markets dashboard
# IMPORTANT: keep ALPACA_PAPER=true until Phase 4. Live keys are different from paper keys.
ALPACA_API_KEY=PKGPUWEM5IAUEUPGFJ6CSDACTS
ALPACA_SECRET_KEY=4qGryaieSd5iG3ZuMdEk6B6jJoJxXBdfA627acaspByS
ALPACA_PAPER=true
